<!-- news_app/templates/index.html -->

{% extends './base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
<section class="blok">
    <div class="container as">
        <nav class="breadcrumb has-arrow-separator" aria-label="breadcrumbs">
        </nav>
        <h1 class="title "> Последние новости</h1>
        <div class="card-row">
            {% for news in news_list %}
                <div class="card bg-light mb-3" style="max-width: 20rem;">
                    {% if news.photo %}
                        <img src="{{ news.photo.url }}" alt="">
                    {% endif %}
                    <div class="card-body">
                        <h4 class="card-title">{{ news.title }}</h4>
                        <h5>{{ news.publication_date }}</h5>
                        <p class="card-text">{{ news.description|truncatewords:10 }}</p>
                        <a href="delete/{{ news.id }}" class="btn btn-danger">Delete</a>
                        <a href="{% url 'update_news' pk=news.pk %}" class="btn btn-primary">Update</a> <!-- Добавленная кнопка Update -->
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
