

{% extends './base.html' %}

{% block title %}Все новости{% endblock %}

{% block content %}
<section class="blok">
    <div class="container">
        <h1 class="title">All News</h1>
        <div class="card-row">
            {% for news in news_list %}
                <div class="card bg-light mb-3" style="max-width: 20rem;">
                    <div class="card-body">
                        {% if news.photo %}
                            <img src="{{ news.photo.url }}" class="card-img-top" alt="" style="max-height: 200px; object-fit: cover;">
                        {% endif %}
                        <h4 class="card-title">{{ news.title }}</h4>
                        <h5>{{ news.publication_date }}</h5>
                        <p class="card-text">{{ news.description }}</p>
                        <div class="btn-group" role="group">
                            <a href="{% url 'news_card_page' pk=news.pk %}" class="btn btn-primary">Read More</a>
                            <a href="{% url 'delete_news' pk=news.pk %}" class="btn btn-danger">Delete</a>
                            <a href="{% url 'update_news' pk=news.pk %}" class="btn btn-success">Update</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
